@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply w-screen h-screen bg-gray-50 flex flex-col space-y-1 justify-between items-center p-5;
}

#game-header>h1{
    @apply text-2xl font-bold text-center text-blue-900;
}

#game-header{
    @apply w-full flex flex-row justify-between items-center;
}

#game-header>span{
    @apply w-8 invisible;
}

#game-header>button{
    @apply w-8 h-8 rounded border border-blue-900 bg-blue-100 hover:bg-blue-200 bg-center bg-no-repeat;
    background-image: url("../img/download.svg");
    background-size: 70%;
}

#game-status{
    @apply flex items-center justify-center space-x-2;
}

#game-status>button{
    @apply rounded border px-2 border-blue-900 font-bold bg-blue-50 text-blue-900 hover:bg-blue-100;
}

#game-body{
    @apply w-full flex flex-col items-center space-y-2;
}

#game-board{
    @apply w-full aspect-square border rounded grid grid-cols-3 max-w-[500px] max-h-[500px];
}


.block{
    @apply m-2 bg-gray-100 aspect-square border rounded bg-center bg-contain bg-no-repeat;
}

.block-empty{
    @apply bg-gray-100;
}

#game-board.player-x div.block-empty{
    @apply hover:bg-blue-50;
}

#game-board.player-o div.block-empty{
    @apply hover:bg-red-50;
}

.block-x{
    @apply bg-blue-100;
    background-image: url("../img/x.svg");
}

.block-o{
    @apply bg-red-100;
    background-image: url("../img/o.svg");
}

#game-footer>a{
    @apply text-gray-200 hover:text-gray-300;
}